body{
	
	background:white !important;
}
h1{
	color: black;
	margin-left: 15px;
	padding-top: 20px;
	
}
ul{
	color: black;
	list-style: none;
	font-size: 23px;
	margin-left: 15px;
	display: inline-block;	
}li a{
	color: black!important;
	list-style: circle;
	margin-left: 15px;
	padding: 5px;
}p{
	font-size: 17px;
	padding-bottom: 10px;
	margin-left: 15px;
	color: white;
}.container a{
	margin-left: 25px!important;
	
}
